@page
@model IndexModel
@{
    ViewData["Title"] = "Countdown Timer";
}

<div class="text-center">
    <h1>About this app</h1>
    <div>
        <p>
            A small .NET Core Razor Pages app used to countdown to a date.<br />
            The app has a static number of days and dynamic (live) counter.<br />
            <b>Countdown</b><i> (POST)</i>: uses OnPost() in code behind<br />
            <b>Live Countdown</b><i> (JavaScript)</i>: uses JavaScript to present a "live" counter on the page
        </p>
    </div>
</div>