@page
@model LiveCountdownModel
@{
    ViewData["Title"] = "Live Countdown";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="text-center">
    <h2>
        <label>
            Enter Your Date and Time: <br />
            (format: mm/dd/yyyy hh:mm:AM/PM)
        </label>
        <input type="datetime-local" id="userDate" />
    </h2>
    <br />
    <button class="btn btn-primary" onclick="getCountdown()">Live Counter</button>
    <h1 id="timer"></h1>
</div>

@section scripts {
    <script type="text/javascript">
        function getCountdown() {
            var isDateNull = new Date($('#userDate').val()).toJSON() == null;

            if (isDateNull) {
                console.log("null values");
                alert("Invalid date. Please enter MM/dd/yyyy hh:mm AM/PM");
            } else if (!isDateNull) {
                //Get user input
                var futureDate =
                    new Date($('#userDate').val()).getTime();

                //Pass futureDate to countdownTimer to start the countdown
                countdownTimer(futureDate);
            }
        };

        function countdownTimer(futureDate) {
            //Set the time remaining to update every 1 sec
            var timeRem = setInterval(function () {
                //Get the difference between now (updates repeatedly) & future date
                var countdown = futureDate - new Date().getTime();

                //Update the days, hours, minutes, and seconds (getTime() returns time in milliseconds)
                var days = Math.floor(countdown / (1000 * 60 * 60 * 24));
                var hrs = Math.floor((countdown % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var min = Math.floor((countdown % (1000 * 60 * 60)) / (1000 * 60));
                var secs = Math.floor((countdown % (1000 * 60)) / 1000);

                //Update timer content
                $('#timer').text((days + "d " + hrs + "h " + min + "m " + secs + "s "));

                //Stop the countdown if complete
                checkCountdownComplete(timeRem, countdown);
            }, 1000);
        }

        function checkCountdownComplete(timeRem, countdown) {
            if (countdown <= 0) {
                //Clear the 1 sec counter
                clearInterval(timeRem);

                //Update timer content
                $('#timer').text("NO TIME REMAINING");
            }
        }
    </script>
}